.headerContainer{
    height: 2rem;
    margin-bottom: auto;
}

.headerContent{
    height: 2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    background-color: rgb(10, 88, 10);
}
