.main{ 
   
    margin:auto auto 5rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1440px;

 
}

.content{
    max-width: 25rem;
    border: 1px solid rgb(230, 177, 64);
    padding: 2rem;
    span{
   
            text-align: center;  
            font-family: cursive;
            color: rgb(138, 124, 2);
        
    }
    h1{
        font-family: cursive;
        color: rgb(138, 124, 2);
        text-align: center;
        margin-bottom: 1rem;
    }
 
}

.services{
    img{

        width: 20rem;
        height: 20rem;
     
    }
}

.price{
    color: rgb(110, 100, 3);
    font-weight: 600;
    font-family: cursive;
    text-align: center;
}
