.headerContainer{

    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
    background-color: rgb(255, 254, 254);

    img{
      margin-top: 0;
        height: 12rem;
    }

}
